<!DOCTYPE html>
<html>
<head>
  <title>Simpsons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ui inverted left vertical sidebar menu">
  <a href="/" class="item">
    <i class="home icon"></i>
    Home
  </a>
  <a href="/history" class="item">
    <i class="history icon"></i>
    History
  </a>
  <a href="/videos/random" class="item">
    <i class="random icon"></i>
    Random
  </a>
</div>
<div class="pusher">

<div class="ui black huge launch right attached button sidebar-button">
    <i class="icon list layout"></i>
</div>
    <%= yield %>
</div>

</body>
</html>
